
hd_unity/Library/
hd_unity/Temp/
hd_unity/Logs/
hd_unity/Packages/
Assembly-CSharp.csproj
PackageManagerSettings.asset
hd_unity/.idea/.idea.hd_unity/.idea/workspace.xml
hd_unity/.idea/.idea.hd_unity/.idea/projectSettingsUpdater.xml
hd_unity/.idea/.idea.hd_unity/.idea/modules.xml
hd_unity/.idea/.idea.hd_unity/.idea/contentModel.xml
hd_unity/.idea
hd_unity/obj
hd_unity/Android/build/hd_unity.apk
